<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件-->
<configuration>

    <!--3-->
    <!--    缩写,用于resultType-->
    <typeAliases>
        <typeAlias type="com.yorha.entity.User" alias="User"/>
    </typeAliases>
</configuration>